.footer {
    background-color: var(--dark-bg-cl);
}

.footer__container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__position {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    color: var(--accent-txt-cl);
    margin-bottom: 20px;
    display: block;
}

.footer__logo>span {
    color: var(--white-txt-cl);
}

.footer__adress {
    margin-right: 70px;
}

.footer__item {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    transition: color var(--anim);
    color: var(--footer-txt-cl);

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
    }

    &--map {
        color: var(--white-txt-cl);
    }
}

.footer__contacts {
    font-style: normal;
}